<script>
import { mdiContentCut } from "@mdi/js";
import { mdiChevronUp, mdiChevronDown, mdiHeartOutline } from "@mdi/js";
import { ref } from "vue";
export default {
  data: () => ({
    show: false,
  }),
};
</script>

<template style="color: aqua">
  <v-container>
    <v-container style="background-color: rgb(89, 69, 69)">
      <v-img src="" max-height="200" max-width="100%" cover>
        <v-card-title class="text-center justify-center py-6">
          <h2></h2>
          <h2></h2>
          <h2 class="font-weight-black text-h1 text-yellow">Portfolio</h2>
        </v-card-title>
      </v-img>
    </v-container>

    <v-container style="background-color: rgb(244, 234, 213)">
      <v-row style="background-color: rgb(244, 234, 213)" cols="">
        <v-col cols="3">
          <v-avatar color="info" size="230px">
            <v-img
              src="https://media.discordapp.net/attachments/759416976765616142/1052631044928573480/image.png?width=701&height=701"
            >
            </v-img>
          </v-avatar>
        </v-col>
        <v-col>
          <v-table style="background-color: rgb(244, 234, 213)">
            <thead>
              <tr>
                <th>
                  <v-img
                    src="https://media.discordapp.net/attachments/759416976765616142/1052984170596548750/image.png"
                    width="150px"
                  ></v-img>
                </th>
              </tr>
              <tr>
                <td>
                  <p class="font-weight-bold ma-1 text-h6">
                    Name:Khunpon Srisakon <br />Nickname:Eikew <br />Age:20
                    <br />
                    Date Of Birth:22 November 2545 <br />Height:175 <br />
                    Weight:55
                  </p>
                </td>
              </tr>

              <br />
            </thead>
          </v-table>
        </v-col>
        <v-col cols="4">
          <v-table style="background-color: rgb(244, 234, 213)">
            <thead>
              <tr>
                <th>
                  <v-img
                    src="https://media.discordapp.net/attachments/759416976765616142/1053264007290699796/image.png"
                    width="160px"
                  ></v-img>
                </th>
              </tr>
              <tr>
                <td>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">
                    Facebook : Khunpon Eikew
                  </p>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/LINE_New_App_Icon_%282020-12%29.png/800px-LINE_New_App_Icon_%282020-12%29.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">
                    Line : @0928132982
                  </p>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">
                    Instagram : eikiqq
                  </p>
                </td>
              </tr>

              <br />
            </thead>
          </v-table>
        </v-col>
      </v-row>
      <v-row style="background-color: rgb(208, 184, 168)">
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://media1.giphy.com/avatars/Felini/ukfEXZ6hEnNu.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://media1.giphy.com/avatars/Felini/ukfEXZ6hEnNu.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://media1.giphy.com/avatars/Felini/ukfEXZ6hEnNu.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
      </v-row>
    </v-container>
    <v-spacer></v-spacer>
    <v-container style="background-color: rgb(244, 234, 213)">
      <v-row>
        <v-col>
          <v-img
            src="https://media.discordapp.net/attachments/759416976765616142/1052985769968549968/image.png"
            width="250px"
          ></v-img>
        </v-col>
      </v-row>
      <v-row cols="3">
        <v-col>
          <v-card>
            <v-img
              src="https://media.discordapp.net/attachments/759416976765616142/1052953801566453790/308468899_574680524451170_5535037886758824955_n.png?width=701&height=701"
              alt="Eikew"
              max-height="200%"
              max-width="100%"
              cover
            >
            </v-img>
            <v-card-item>
              <div>SriAranyothai School</div>
            </v-card-item>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text>
                  โรงเรียนศรีอรัญโญทัย <br />
                  ที่อยู่: 13 สันติภาพ Santiphap Rd, Aranyaprathet,
                  Aranyaprathet District, Sa Kaeo 27120 <br />
                  2008 - 2009 อนุบาลศึกษา <br />
                  2009 - 2015 นักเรียนชั้นประถมศึกษา
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
        <v-row>
          <v-col>
            <v-card>
              <v-img
                src="https://upload.wikimedia.org/wikipedia/th/9/96/Aran_school.jpg"
                alt="Eikew"
                max-height="200%"
                max-width="100%"
                cover
              >
              </v-img>
              <v-card-item>
                <div>Aranyaphathet School</div>
              </v-card-item>
              <v-expand-transition>
                <div v-show="show">
                  <v-divider></v-divider>

                  <v-card-text>
                    โรงเรียนอรัญประเทศ <br />
                    ที่อยู่: 1 Suwannason Rd, Ban Mai Nong Sai, Aranyaprathet
                    District, Sa Kaeo 27120 <br />
                    2015 - 2020 นักเรียนชั้นมัธยมศึกษา
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
          <v-col>
            <v-card>
              <v-img
                src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/11/buu_eng_transparent_grey_gold.png"
                alt="Eikew"
                max-height="200%"
                max-width="100%"
                cover
              >
              </v-img>
              <v-card-item>
                <div>Burapha University</div>
              </v-card-item>

              <v-expand-transition>
                <div v-show="show">
                  <v-divider></v-divider>

                  <v-card-text>
                    มหาวิทยาลัยบูรพา <br />
                    ที่อยู่: 169 Long Had Bangsaen Rd, Saen Suk, Chon Buri
                    District, Chon Buri 20131 <br />
                    2021 - 2022 นักศึกษาชั้นปีที่ 1 <br />
                    2022 - ปัจจุบัน นักศึกษาชั้นปีที่ 2
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
        </v-row>
      </v-row>
      <v-row>
        <v-col>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              @click="show = !show"
              color="green-lighten-1"
              variant="text"
              style="font-size: 20px"
              >อ่านเพิ่มเติม</v-btn
            >
          </v-card-actions>
        </v-col>
        <v-row style="background-color: rgb(208, 184, 168)">
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media0.giphy.com/media/4Zo41lhzKt6iZ8xff9/200w.gif?cid=6c09b952bfd0e7ll9ncae606sd4khr0tfomh67cgbczuxmfh&rid=200w.gif&ct=g"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media0.giphy.com/media/4Zo41lhzKt6iZ8xff9/200w.gif?cid=6c09b952bfd0e7ll9ncae606sd4khr0tfomh67cgbczuxmfh&rid=200w.gif&ct=g"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media0.giphy.com/media/4Zo41lhzKt6iZ8xff9/200w.gif?cid=6c09b952bfd0e7ll9ncae606sd4khr0tfomh67cgbczuxmfh&rid=200w.gif&ct=g"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-img
              src="https://media.discordapp.net/attachments/759416976765616142/1053262312078852116/image.png"
              width="250px"
            ></v-img>
          </v-col>
        </v-row>
      </v-row>
      <v-row>
        <v-col>
          <div class="d-flex align-center flex-column">
            <div class="text-subtitle-2 font-weight-bold text-h2">Game</div>

            <v-card
              width="400"
              title="Valorant"
              subtitle=": Stupid game but i play"
            >
              <v-img
                src="https://cdn.siasat.com/wp-content/uploads/2022/10/Valorant.jpg"
                cover
                max-height="200%"
                max-width="100%"
              ></v-img
            ></v-card>
          </div>
        </v-col>

        <v-col>
          <div class="d-flex align-center flex-column">
            <h1 class="text-subtitle-2 font-weight-bold text-h2">Music</h1>

            <v-card
              width="400"
              title="Safeplanet"
              subtitle=": คําตอบ-Safeplanet => recommend"
            >
              <v-img
                src="https://i.ytimg.com/vi/4xvSFYbVa0U/maxresdefault.jpg"
                cover
                max-height="200%"
                max-width="100%"
              >
              </v-img>
            </v-card>
          </div>
        </v-col>
      </v-row>
      <br /><br />
    </v-container>
    <v-container style="background-color: rgb(89, 69, 69)">
      <v-img src="" max-height="200" max-width="100%" cover>
        <v-card-title class="text-center justify-center py-6">
          <h2></h2>
          <h2></h2>
          <h2 class="font-weight-black text-h1 text-yellow"></h2>
        </v-card-title>
      </v-img>
    </v-container>
  </v-container>
</template>
