<script setup lang="ts">
const hobby = defineProps({
  name: String,
  caption: String,
  img: String,
});
</script>
<template>
  <v-card class="mx-auto ml-15" max-width="344" color="#ffe674" dark>
    <v-card-item>
      <div>
        <v-img height="200" cover :src="hobby.img" class="text-white"></v-img>
        <div class="text-h6 mb-1 font-weight-black text-brown">
          {{ hobby.name }}
        </div>
        <div class="text-caption">
          {{ hobby.caption }}
        </div>
      </div>
    </v-card-item>
  </v-card>
</template>
